body{
    background-image: url("/valorant-img.jpg");
}

img{
    display: block;
    margin-left: auto;
    margin-right:auto;
    height: 300px;
    width: 300px;
}
#container{
    border: 5px solid rgb(14, 241, 117);
    border-radius: 2em;
    background-color: red;
    color: rgb(14, 241, 117);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 35em;
}
p{
    
    margin-left: 2em;
    margin-top: 1.5em;
    font-weight: bold;
}